/* Write your CSS here */
.form-element {
  display: flex;
  flex-direction: column;
}
.text {
  height: 100px;
}
.bg-container {
  padding: 10px;
  min-height: 100vh;
}
.img {
  width: 100%;
}
.input-name {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  border-color: #dee0e3;
}
.text {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #dee0e3;
}
.heading {
  font-family: 'roboto';
  font-size: 50px;
}
.para {
  font-family: 'roboto';
  font-size: 17px;
}
.btn {
  background-color: #0284c7;
  font-family: 'roboto';
  width: 120px;
  height: 30px;
  border: 0px;
  color: white;
  border-radius: 8px;
}
@media (min-width: 769px) {
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .img {
    width: 300px;
    order: 1;
  }
  .bg-container {
    padding-right: 70px;
    padding-left: 70px;
  }
  .hr-line {
    border: 1px solid #dee0e3;
    margin-top: 20px;
  }
}
.commentCount {
  background-color: #0284c7;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-left: 0px;
}

li {
  list-style-type: none;
}
ul {
  padding: 0px;
}
